body {
  background-color: #121212;
  color: #ffffff;
  font-family: Arial, sans-serif;
}

h1 {
  color: #ff4081;
}
.movie-image {
  width: 200px;
  height: 300px;
  object-fit: cover;
  border-radius: 8px;
  display: block;
  margin: 0 auto 10px;
}
.movie-view-image {
  width: 300px;
  height: 450px;
  object-fit: cover;
  display: block;
  margin: 0 auto;
}
.auth-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
  color: white;
}

.auth-container {
  margin-bottom: 20px;
}
